LOCATE COMP "clk_25mhz" SITE "P3";
IOBUF PORT "clk_25mhz" IO_TYPE=LVTTL33;

# LED pins valid for ULX3S 85F
LOCATE COMP "led[0]" SITE "J1";
LOCATE COMP "led[1]" SITE "L1";
LOCATE COMP "led[2]" SITE "K1";
LOCATE COMP "led[3]" SITE "H2";
LOCATE COMP "led[4]" SITE "H1";
LOCATE COMP "led[5]" SITE "G1";
LOCATE COMP "led[6]" SITE "F1";
LOCATE COMP "led[7]" SITE "F2";

IOBUF PORT "led[0]" IO_TYPE=LVTTL33;
IOBUF PORT "led[1]" IO_TYPE=LVTTL33;
IOBUF PORT "led[2]" IO_TYPE=LVTTL33;
IOBUF PORT "led[3]" IO_TYPE=LVTTL33;
IOBUF PORT "led[4]" IO_TYPE=LVTTL33;
IOBUF PORT "led[5]" IO_TYPE=LVTTL33;
IOBUF PORT "led[6]" IO_TYPE=LVTTL33;
IOBUF PORT "led[7]" IO_TYPE=LVTTL33;

# ESP32 reset pin
LOCATE COMP "wifi_gpio0" SITE "M1";
IOBUF PORT "wifi_gpio0" IO_TYPE=LVTTL33;

# UART TX from FPGA to FTDI (seen in PuTTY)
LOCATE COMP "ftdi_rxd" SITE "B13";
IOBUF PORT "ftdi_rxd" IO_TYPE=LVTTL33;
